<% content_for :title do %>
All songs
<% end %>

<h1>All songs</h1>
<table>
  <tr>
    <th>Title</th><th>Artist</th><th>Genre</th><th>Released?</th><th>Release Year</th>
  </tr>
  <tbody>
  <% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.title, song %></td>
    <td><%= song.artist_name %></td>
    <td><%= song.genre %></td>
    <td><%= song.released ? 'Yes' : 'No' %></td>
    <td><%= song.release_year %></td>
  </tr>
  <% end %>
  </tbody>
</table><br>
<h3><%= link_to 'New song', new_song_path %></h3>
